$primary: rgb(12, 134, 175);
$hover: #2e6d82;
$font-family: 'Titillium Web', sans-serif;

.error {
    color: red;
}

@mixin button-css {
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 4px;
}
@mixin flex-centre {
    display: flex;
    justify-content: center;
}
@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
}
