@use 'config' as *;
@use 'login' as *;
@use 'viewIdeas' as *;
@use 'landingPage' as *;
@use 'submitIdea' as *;

* {
    box-sizing: border-box;
}

body {    
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $font-family;    
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    height: 6.2vh;
    background-color: $primary;
    color: white;
    padding: 1.7% 3vw 0 3vw;
}

input[type="text"],input[type="password"],select,textarea {
    padding: 2% 1.5%;
    border: 1px solid darkslategray;
    border-radius: 4px;
    font-family: $font-family;
    font-size: 1em;
}

button {
    @include button-css;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
}
button:hover {
    background-color: $hover;    
}
a {
    text-decoration: none;
    color: $primary;
    font-family: 'Titillium Web', sans-serif;
}
a:hover {
    color: $hover;
}
h3 {
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}
.fa-3x {
    display: none;
    position: fixed;
    top: 43%;
    left: 44%;
    z-index: 3;
}
#overlay {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2F3941;
    opacity: 0.3;
}

#modal {
    display: none;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 60vw;
    height: auto;
    transform: translate(-50%, -50%);
}
.modal-content {
    padding: 4vw;
}
.modal-actions {
    padding: 2vw 0;

    button {
        padding: 1vh 4vw;
    }
}
#signOut {
    cursor: pointer;
}

@media(min-width:769px) {
    #mainContainer {
        padding: 3vw;
        max-width: 1000px;
        margin: 0 10vw;
    }
    .fa-3x {
        left: 48%;
    }
    header {
        height: 7.5vh;
        padding: 1vh 3vw;
    }
}
